<div class="location-details-container">
    <div class="location-header">
        <h1 class="location-name">{{location.name}}</h1>
        <div class="location-basic-info">
            <p class="location-address"><i class="fas fa-map-marker-alt"></i> {{location.location.address}}</p>
            {{#if location.phone}}
            <p class="location-phone"><i class="fas fa-phone"></i> {{location.phone}}</p>
            {{/if}}
        </div>
    </div>

    {{#if location.info}}
    <div class="location-description">
        <p>{{location.info}}</p>
    </div>
    {{/if}}

    <div class="facilities-section">
        {{#if location.facilities.tennis}}
        <div class="tennis-facilities">
            <h2>Tennis Facilities</h2>
            <ul>
                <li>Number of Courts: {{location.facilities.tennis.numCourts}}</li>
                {{#if location.facilities.tennis.surfaceType}}
                <li>Surface Type: {{location.facilities.tennis.surfaceType}}</li>
                {{/if}}
                <li>{{location.facilities.tennis.indoorOutdoor}} Courts</li>
                {{#if location.facilities.tennis.accessible}}
                <li>Wheelchair Accessible</li>
                {{/if}}
            </ul>
        </div>
        {{/if}}

        {{#if location.facilities.basketball}}
        <div class="basketball-facilities">
            <h2>Basketball Facilities</h2>
            <ul>
                <li>Number of Courts: {{location.facilities.basketball.numCourts}}</li>
                <li>{{location.facilities.basketball.indoorOutdoor}} Courts</li>
                {{#if location.facilities.basketball.accessible}}
                <li>Wheelchair Accessible</li>
                {{/if}}
            </ul>
        </div>
        {{/if}}
    <div class="forum-section">
        {{#if forum}}
        <div class = "forum-comments">
            <h2>Forum Comments</h2>
            <ul>
            {{#each forum}}
                <li>
                    {{#if forum.userName}}
                    Name: {{forum.userName}}<br>
                    {{/if}}
                    Comment: {{forum.content}}<br>
                    Posted: {{forum.createdAt}}
                </li>
            </ul>
            {{/each}}
        </div>
        {{/if}}
        <div class = "add-comment">
            
        </div>
    </div>
    </div>
    <div class="actions">
        <a href="/locations" class="back-btn">Back to All Locations</a>
    </div>
</div>
