<div class="location-details-container">
    <div class="location-header">
        <h1 class="location-name">{{location.name}}</h1>
        <div class="location-basic-info">
            <p class="location-address"><i class="fas fa-map-marker-alt"></i> {{location.location.address}}</p>
            {{#if location.phone}}
            <p class="location-phone"><i class="fas fa-phone"></i> {{location.phone}}</p>
            {{/if}}
            <p class="location-hours"><i class="fas fa-clock"></i> {{location.hours}}</p>
        </div>
    </div>

    {{#if location.info}}
    <div class="location-description">
        <p>{{location.info}}</p>
    </div>
    {{/if}}

    <div class="facilities-section">
        {{#if location.facilities.tennis}}
        <div class="tennis-facilities">
            <h2>Tennis Facilities</h2>
            <ul>
                <li>Number of Courts: {{location.facilities.tennis.numCourts}}</li>
                {{#if location.facilities.tennis.surfaceType}}
                <li>Surface Type: {{location.facilities.tennis.surfaceType}}</li>
                {{/if}}
                <li>{{location.facilities.tennis.indoorOutdoor}} Courts</li>
                {{#if location.facilities.tennis.accessible}}
                <li>Wheelchair Accessible</li>
                {{/if}}
            </ul>
        </div>
        {{/if}}

        {{#if location.facilities.basketball}}
        <div class="basketball-facilities">
            <h2>Basketball Facilities</h2>
            <ul>
                <li>Number of Courts: {{location.facilities.basketball.numCourts}}</li>
                {{#if location.facilities.basketball.indoorOutdoor}}
                    <li>{{location.facilities.basketball.indoorOutdoor}} Courts</li>
                {{/if}}
                {{#if location.facilities.basketball.accessible}}
                <li>Wheelchair Accessible</li>
                {{/if}}
            </ul>
        </div>
        {{/if}}
    </div>
    <div class="forum-section">
        {{#if forum}}
        <div class = "forum-comments">
            <h2>Forum Comments</h2>
            <ul>
            {{#each forum}}
                <li>
                    {{#if userName}}
                    Name: {{userName}}<br>
                    {{/if}}
                    {{#unless userName}}
                    Name: Anonymous<br>
                    {{/unless}}
                    Comment: {{content}}<br>
                    Posted: {{createdAt}}
                </li>
            {{/each}}
             </ul>
        </div>
        {{/if}}
        <div class = "add-comment-container">
            <form action="/locations/{{locationId}}" method="POST" class="comment-form">
                <div>
                    <label>
                        Add New Comment
                        <input type="text" name="content" placeholder="Write your message here" 
                        value="{{formData.content}}" autocomplete="start writing your thoughts..." required>
                    </label>
                </div>
                <div>
                    <button type="submit" class="addComment-button">Add Comment</button>
                </div>
            </form> 
            {{#if hasErrors}}  
            <ul class = "error-list">
                {{#each errors}}
                <li>
                    {{this}}
                </li>
                {{/each}}
            </ul>
            {{/if}}   
        </div>
    </div>
    <div class = "review-section">
        {{#if reviews}}
        <div class = "reviews">
            <h2>Overall Rating: {{averageRating}}</h2>
            <ul>
            {{#each reviews}}
                <li>
                    {{#if userName}}
                    Name: {{userName}}<br>
                    {{/if}}
                    {{#unless userName}}
                    Name: Anonymous<br>
                    {{/unless}}
                    Rating: {{rating}}<br>
                    Comment: {{comment}}<br>
                    Posted: {{updatedAt}}<br>
                </li>
             {{/each}}
             </ul>
        </div>
        {{/if}}
        {{#if hasVisited}}
        <div class = "add-review-link">
            <a href = "/reviews/review/{{locationId}}">Leave a Review</a>
        </div>
        {{/if}}
    </div>
    <div class="actions">
        <a href="/games/locations/{{location._id}}" class="primary-btn">Find Availability</a>
        <a href="/locations" class="primary-btn">Back to All Locations</a>
    </div>
</div>
