<div class="location-details-container">
    <div class="location-header">
        <h1 class="location-name">{{location.name}}</h1>
        <div class="location-basic-info">
            <p class="location-address"><i class="fas fa-map-marker-alt"></i> {{location.location.address}}</p>
            {{#if location.phone}}
            <p class="location-phone"><i class="fas fa-phone"></i> {{location.phone}}</p>
            {{/if}}
            <p class="location-hours"><i class="fas fa-clock"></i> {{convertToAMPM location.openingTime}} - {{convertToAMPM location.closingTime}}</p>
        </div>
    </div>

    {{#if location.info}}
    <div class="location-description">
        <p>{{location.info}}</p>
    </div>
    {{/if}}

    <div class="facilities-section">
        {{#if location.facilities.tennis}}
        <div class="tennis-facilities">
            <h2>Tennis Facilities</h2>
            <ul>
                <li>Number of Courts: {{location.facilities.tennis.numCourts}}</li>
                {{#if location.facilities.tennis.surfaceType}}
                <li>Surface Type: {{location.facilities.tennis.surfaceType}}</li>
                {{/if}}
                <li>{{location.facilities.tennis.indoorOutdoor}} Courts</li>
                {{#if location.facilities.tennis.accessible}}
                <li>Wheelchair Accessible</li>
                {{/if}}
            </ul>
        </div>
        {{/if}}

        {{#if location.facilities.basketball}}
        <div class="basketball-facilities">
            <h2>Basketball Facilities</h2>
            <ul>
                <li>Number of Courts: {{location.facilities.basketball.numCourts}}</li>
                {{#if location.facilities.basketball.indoorOutdoor}}
                    <li>{{location.facilities.basketball.indoorOutdoor}} Courts</li>
                {{/if}}
                {{#if location.facilities.basketball.accessible}}
                <li>Wheelchair Accessible</li>
                {{/if}}
            </ul>
        </div>
        {{/if}}
    </div>
    <div class="forum-section">
        {{#if forum}}
        <div class = "forum-comments">
            <h2>Forum Comments</h2>
            <ul>
            {{#each forum}}
                <li>
                    {{#if userName}}
                    Name: {{userName}}<br>
                    {{/if}}
                    {{#unless userName}}
                    Name: Anonymous<br>
                    {{/unless}}
                    Comment: {{content}}<br>
                    Posted: {{createdAt}}
                    {{#if byUser}}
                    <form
                        action="/locations/{{../locationId}}"
                        method="POST"
                        class="delete-comment"
                    >
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="messageId" value="{{messageId}}">
                    <button type="submit" class="delete-comment-button">
                        <i class="fas fa-trash"></i>
                    </button>
                    </form>
                    {{/if}}
                </li>
            {{/each}}
            </ul> 
        </div>
        {{/if}}
        <div class = "add-comment-container">
            <form action="/locations/{{locationId}}" method="POST" class="comment-form" id="comment-form">
                <label for = "comment" class="add-comment-label">Add a Comment</label>
                <input id="comment" type="text" name="content" placeholder="Write your message here" 
                value="{{formData.content}}" required
                class= "comment-input">
                <button type="submit" class="addComment-button">Add Comment</button>
            </form> 
            {{#if hasErrors}}  
            <ul class = "error-list">
                {{#each errors}}
                <li>
                    {{this}}
                </li>
                {{/each}}
            </ul>
            {{/if}}
            <div class="error-list" id="forum-client-errors" style="display: none;">
                
            </div>
        </div>
    </div>
    <div class = "review-section">
        {{#if reviews}}
        <div class = "reviews">
            <h2>Overall Rating: {{averageRating}}</h2>
            <ul>
            {{#each reviews}}
                <li>
                    {{#if userName}}
                    Name: {{userName}}<br>
                    {{/if}}
                    {{#unless userName}}
                    Name: Anonymous<br>
                    {{/unless}}
                    Rating: {{rating}}<br>
                    Comment: {{comment}}<br>
                    Posted: {{updatedAt}}<br>
                </li>
             {{/each}}
             </ul>
        </div>
        {{/if}}
        {{#if hasVisited}}
        <div class = "add-review-link">
            <a href = "/reviews/review/{{locationId}}" class="addComment-button leave-review-btn">
            {{#if alreadyReviewed}}
            Update Review
            {{else}}
            Leave a Review
            {{/if}}
            </a>
        </div>
        {{/if}}
    </div>
    <div class="actions">
        <a href="/games/locations/{{location._id}}" class="primary-btn">Find Availability</a>
        <a href="/locations" class="primary-btn">Back to All Locations</a>
    </div>
</div>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<div id="map"></div>

<script>
  const lat = {{location.location.coordinates.lat}};
  const lng = {{location.location.coordinates.lon}};

  const map = L.map('map').setView([lat, lng], 15);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '© OpenStreetMap contributors'
  }).addTo(map);

  L.marker([lat, lng]).addTo(map)
    .bindPopup('Park Location')
    .openPopup();
</script>
<script src="/public/js/forum.js"></script>





