<article class = "new-review">
    <h1>Write a Review</h1>
    <form 
        action = "/reviews/review/{{locationId}}" 
        {{#if alreadyReviewed}}
            method = "POST"
        {{else}}
            method = "PUT"
        {{/if}}
        class="new-review-form">
    <label>
        Please leave a rating from 1-5, with at most one decimal place:
        <input type = "text" name="rating" placeholder="Rating" value="{{rating}}" class="full-width-input">
    </label>
    <br/>
    <label for = "review-comment">
        Please write a comment for your review:
    </label>
    <br/>
    <textarea id="review-comment" name="comment" rows="4" placeholder="Review Comment"
        class="full-width-input">{{comment}}</textarea>
    <br/>
    <button type = "submit">Create New Review</button>
    </form>
    {{#if hasErrors}}
    <ul class = "error-list">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</article>