<article class = "new-review">
    <h1>Write a Review</h1>
    <form 
        action = "/reviews/review/{{locationId}}" 
        method = "POST"
        class="new-review-form" >
        {{#if alreadyReviewed}}
            <input type="hidden" name="_method" value="PUT">
        {{/if}}
        <div class="form-row">
            <label for="rating">Please leave a rating from 1-5, with at most one decimal place:</label>
            <input id= "rating" type = "text" name="rating" placeholder="Rating" value="{{rating}}" class="full-width-input">
        </div>
        <br/>
        <div class="form-row">
            <label for = "review-comment">
            Please write a comment for your review:
            </label>
            <br/>
            <textarea id="review-comment" name="comment" rows="4" placeholder="Review Comment"
                class="full-width-input">{{comment}}</textarea>
            <br/>
        </div>
    
        <div class="form-actions">
            <button type = "submit" class="addComment-button">
                {{#if alreadyReviewed}}
                    Update Review
                {{else}}
                    Create New Review
                {{/if}}
            </button>
        </div>
    </form>
    {{#if hasErrors}}
    <ul class = "error-list">
        {{#each errors}}
        <li>
            {{this}}
        </li>
        {{/each}}
    </ul>
    {{/if}}
</article>