<div class="games-location-header">
    <h1>{{location.name}}'s Games</h1>
</div>

{{#if games.length}}
    <div class="games-location-container">
        <div class="games-location-cards">
            {{#each games}}
                <div class="games-location-card">
                    <div class="game-header">
                        <h3 class="game-location-name">{{creatorFirstName}} {{creatorLastName}}'s Game</h3>
                        <span class="game-status-badge status-{{status}}">{{status}}</span>
                    </div>
                    <div class="game-info">
                        <div class="game-info-row">
                            <i class="fas fa-calendar-alt"></i>
                            <span class="game-date">{{date}}</span>
                        </div>
                        <div class="game-info-row">
                            <i class="fas fa-clock"></i>
                            <span class="game-time">{{startTimeFmt}} - {{endTimeFmt}}</span>
                        </div>
                        <div class="game-info-row">
                            <i class="fas fa-users"></i>
                            <span class="game-participants">{{registeredPlayers.length}}/{{desiredParticipants}} Players</span>
                        </div>
                    </div>
                    <div class="game-actions">
                        {{#if isCreator}}
                            <a href="/games/{{_id}}" class="game-btn view-location-btn">View Details</a>
                        {{else if hasJoined}}
                            <a href="/games/{{_id}}" class="game-btn view-location-btn">View Details</a>
                            <a id="leave-game" href="placeholder" class="game-btn drop-game-btn" data-game-id="{{_id}}">Leave Game</a>
                        {{else}}
                            <a href="/games/{{_id}}" class="game-btn view-location-btn">View Details</a>
                            <a id="join-game" href="placeholder" class="game-btn view-location-btn" data-game-id="{{_id}}">Tag Along</a>
                        {{/if}}
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="games-location-scheduler">
            <div class="scheduling-filters">
                <form method="POST" action="/games/create" id="scheduling-form">
                    <select name="sport" class="scheduling-filter">
                        {{#if location.facilities.basketball.numCourts}}
                        <option value="basketball">Basketball</option>
                        {{/if}}
                        {{#if location.facilities.tennis.numCourts}}
                        <option value="tennis">Tennis</option>
                        <option value="pickleball">Pickleball</option>
                        {{/if}}
                    </select>

                    <select name="court" class="scheduling-filter">
                        {{#if location.facilities.basketball.numCourts}}
                            {{#each (range 1 location.facilities.basketball.numCourts)}}
                                <option value="Court {{this}}">Court {{this}}</option>
                            {{/each}}
                        {{else}}
                            {{#each (range 1 location.facilities.tennis.numCourts)}}
                                <option value="Court {{this}}">Court {{this}}</option>
                            {{/each}}
                        {{/if}}
                    </select>

                    <input type="number" name="desiredParticipants" class="scheduling-filter">

                    <input type="submit" value="Submit">
                </form>
            </div>

            <div id="scheduling-grid" class="scheduling-grid">

            </div>
        </div>
    </div>
{{else}}
    <p>No results</p>
{{/if}}

<script>
    let selectedTimes = [];

    function buildSchedulingGrid() {
        const schedulingGrid = document.getElementById("scheduling-grid");
        const courtFilter = document.querySelector('select[name="court"]');
        const sportFilter = document.querySelector('select[name="sport"]');
        selectedTimes = [];

        if (schedulingGrid && courtFilter && sportFilter) {
            schedulingGrid.innerHTML = "";
            
            let games = {{{json games}}};
            let scheduledGames = games.filter((game) => {
                return  game.sport === sportFilter.value && 
                        game.courtNumber === parseInt(courtFilter.value.split(" ")[1]);
            });

            for (let i = 0; i < scheduledGames.length; ++i) {
                scheduledGames[i].startTime = new Date(scheduledGames[i].startTime);
                scheduledGames[i].endTime = new Date(scheduledGames[i].endTime);
            }
            let schedulingTimeBlocks = {{{location.schedulingTimeBlocks}}};
            for (let i = 0; i < schedulingTimeBlocks.length; ++i) {
                schedulingTimeBlocks[i] = new Date(schedulingTimeBlocks[i]);
            }
            let schedulingDateBlocks = {{{location.schedulingDateBlocks}}};
            for (let i = 0; i < schedulingDateBlocks.length; ++i) {
                schedulingDateBlocks[i] = new Date(schedulingDateBlocks[i]);
            }

            const topLeftCell = document.createElement("div");
            topLeftCell.className = "grid-corner";
            schedulingGrid.appendChild(topLeftCell);

            for (let i = 0; i < schedulingDateBlocks.length; ++i) {
                const label = document.createElement("div");
                label.className = "grid-col-label";
                label.textContent = schedulingDateBlocks[i].toLocaleDateString("en-US", 
                                                                              {
                                                                                timeZone: "America/New_York", 
                                                                                year: "numeric", 
                                                                                month: "2-digit", 
                                                                                day: "2-digit"
                                                                              });
                schedulingGrid.appendChild(label);
            }

            for (let i = 0; i < schedulingTimeBlocks.length; ++i) {
                const label = document.createElement("div");
                label.className = "grid-row-label";
                label.textContent = schedulingTimeBlocks[i].toLocaleTimeString("en-US", 
                                                                              {
                                                                                timeZone: "America/New_York", 
                                                                                hour: "2-digit", 
                                                                                minute: "2-digit",
                                                                                hour12: true
                                                                              });
                schedulingGrid.appendChild(label);

                for (let j = 0; j < schedulingDateBlocks.length; ++j) {
                    const cell = document.createElement("div");
                    const cellDateTime = new Date(
                        schedulingDateBlocks[j].getFullYear(),
                        schedulingDateBlocks[j].getMonth(),
                        schedulingDateBlocks[j].getDate(),
                        schedulingTimeBlocks[i].getHours(),
                        schedulingTimeBlocks[i].getMinutes(),
                        0,
                        0
                    );

                    const scheduledGame = scheduledGames.find((game) => {
                        return game.startTime <= cellDateTime && cellDateTime < game.endTime;
                    });

                    cell.className = scheduledGame === undefined ? "grid-available-item" : "grid-taken-item";
                    cell.id = `${i}-${j}`;
                    cell.addEventListener("click", function() {
                        const timeBlockIndex = cell.id.split("-")[0];
                        const dateBlockIndex = cell.id.split("-")[1];
                        const selectedDateTime = new Date(
                            schedulingDateBlocks[dateBlockIndex].getFullYear(),
                            schedulingDateBlocks[dateBlockIndex].getMonth(),
                            schedulingDateBlocks[dateBlockIndex].getDate(),
                            schedulingTimeBlocks[timeBlockIndex].getHours(),
                            schedulingTimeBlocks[timeBlockIndex].getMinutes(),
                            0,
                            0
                        );

                        if (cell.className === "grid-taken-item") {
                            showNotification("This time slot is already taken.", "error");
                            return;
                        } else if (cell.className === "grid-selected-item") {
                            if (selectedTimes[0].getTime() === selectedDateTime.getTime()) {
                                cell.className = "grid-available-item";
                                selectedTimes.shift();
                                return;
                            } else if (selectedTimes[selectedTimes.length - 1].getTime() === selectedDateTime.getTime()) {
                                cell.className = "grid-available-item";
                                selectedTimes.pop();
                                return;
                            } 
                            for (let i = 1; i < selectedTimes.length - 1; ++i) {
                                if (selectedTimes[i].getTime() === selectedDateTime.getTime()) {
                                    for (let j = i; j < selectedTimes.length; ++j) {
                                        const time = selectedTimes[j];
                                        const timeBlockIdx = schedulingTimeBlocks.findIndex((block) => {
                                            return  block.getHours() === time.getHours() &&
                                                    block.getMinutes() === time.getMinutes();
                                        });
                                        const dateBlockIdx = dateBlockIndex;
                                        const cellToUpdate = document.getElementById(`${timeBlockIdx}-${dateBlockIdx}`);
                                        cellToUpdate.classList.replace("grid-selected-item", "grid-available-item");
                                    }
                                    selectedTimes.splice(i, selectedTimes.length - i);
                                    break;
                                }
                            }
                        } else {
                            if (selectedTimes.length >= 3) {
                                showNotification("You cannot schedule a game for more than 3 hours.", "error");
                                return;
                            }

                            if (selectedTimes.length > 0) {
                                if (selectedDateTime > selectedTimes[selectedTimes.length - 1]) {
                                    const diffInHours = (selectedDateTime - selectedTimes[selectedTimes.length - 1]) / (1000 * 60 * 60);
                                    if (diffInHours !== 1) {
                                        showNotification("Please select contiguous time slots only.", "error");
                                        return;
                                    }
                                    selectedTimes.push(selectedDateTime);
                                } else {
                                    const diffInHours = (selectedTimes[0] - selectedDateTime) / (1000 * 60 * 60);
                                    if (diffInHours !== 1) {
                                        showNotification("Please select contiguous time slots only.", "error");
                                        return;
                                    }
                                    selectedTimes.unshift(selectedDateTime);
                                }
                            } else {
                                selectedTimes.push(selectedDateTime);
                            }
                            cell.className = "grid-selected-item";
                        }
                    });

                    schedulingGrid.appendChild(cell);
                }
            }
        }
    }

    document.addEventListener("DOMContentLoaded", function() {
        const leaveGameATag = document.getElementById("leave-game");
        if (leaveGameATag) {
            leaveGameATag.addEventListener("click", async function(e) {
                e.preventDefault();
                const leaveGameUrl = leaveGameATag.href;
                const reqBody = {
                    gameId: leaveGameATag.dataset.gameId,
                };

                const response = await fetch("/games/leave", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(reqBody),
                });
                if (!response.ok) {
                    const data = await response.json();
                    showNotification("Failed to leave the game.", "error");
                } else {
                    window.location.reload();
                }
            });
        }

        const joinGameATag = document.getElementById("join-game");
        if (joinGameATag) {
            joinGameATag.addEventListener("click", async function(e) {
                e.preventDefault();
                const joinGameUrl = joinGameATag.href;
                const reqBody = {
                    gameId: joinGameATag.dataset.gameId,
                };

                const response = await fetch("/games/join", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(reqBody),
                })
                if (!response.ok) {
                    showNotification("Failed to join game due to scheduling conflict.", "error");
                } else {
                    window.location.reload();
                }
            });
        }

        const sportFilter = document.querySelector('select[name="sport"]');
        if (sportFilter) {
            sportFilter.addEventListener("change", function(e) {
                const courtFilter = document.querySelector('select[name="court"]');
                courtFilter.innerHTML = "";
                let numCourts = 0;
                if (e.target.value === "basketball") {
                    numCourts = {{location.facilities.basketball.numCourts}};
                } else {
                    numCourts = {{location.facilities.tennis.numCourts}};
                }
                for (let i = 0; i < numCourts; ++i) {
                    const opt = document.createElement("option");
                    opt.textContent = `Court ${i+1}`;
                    opt.value = `Court ${i+1}`;
                    courtFilter.appendChild(opt);
                }
                buildSchedulingGrid();
            })
        }

        const courtFilter = document.querySelector('select[name="court"]');
        if (courtFilter) {
            courtFilter.addEventListener("change", function(e) {
                buildSchedulingGrid();
            })
        }

        const schedulingForm = document.getElementById("scheduling-form");
        if (schedulingForm) {
            schedulingForm.addEventListener("submit", async function(e) {
                e.preventDefault();
                if (selectedTimes.length === 0) {
                    showNotification("Please select at least one time slot to create a game.", "error");
                    return;
                }

                const endTime = selectedTimes[selectedTimes.length - 1];
                endTime.setHours(endTime.getHours() + 1);
                const createGameBody = {
                    locationId: "{{location._id}}",
                    userId: "{{user.userId}}",
                    startTime: selectedTimes[0].toISOString(),
                    endTime: endTime.toISOString(),
                    desiredParticipants: parseInt(schedulingForm.desiredParticipants.value),
                    sport: sportFilter.value,
                    courtNumber: parseInt(courtFilter.value.split(" ")[1]),
                    skillLevel: "beginner",
                }
                const response = await fetch("/games/create", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(createGameBody),
                });
                if (!response.ok) {
                    showNotification("Failed to create game.", "error");
                } else {
                    window.location.reload();
                }
            });
        }

        buildSchedulingGrid();
    });

    function showNotification(message, type) {
        const notification = document.createElement("div");
        notification.className = `notification notification-${type}`;
        notification.textContent = message;
        document.body.appendChild(notification);
        setTimeout(() => {
        notification.classList.add("show");
        }, 10);
        setTimeout(() => {
        notification.classList.remove("show");
        setTimeout(() => notification.remove(), 300);
        }, 3000);
    }
</script>