<div class="games-location-header">
    <h1>{{location.name}}'s Games</h1>
</div>

{{#if games.length}}
    <div class="games-location-container">
        <div class="games-location-cards">
            {{#each games}}
                <div class="games-location-card">
                    <h2 class="games-location-name">{{creatorFirstName}}
                        {{creatorLastName}}'s Game</h2>
                    <div class="games-location-info">
                        <p>Starting Time: {{startTime}}</p>
                        <p>Ending Time: {{endTime}}</p>
                        <a href="/games/join/{{_id}}" class="primary-btn">Tag Along</a>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="games-location-scheduler">
            <h2>Schedule a New Game</h2>
        </div>
    </div>
{{else}}
    <p>No results</p>
{{/if}}