<![CDATA[<div class="courts-container">
    {{#each courts}}
    <div class="court-card">
        <h2 class="court-name">{{name}}</h2>
        <div class="court-info">
            <p class="court-location"><i class="fas fa-map-marker-alt"></i> {{location.address}}</p>
            {{#if phone}}
            <p class="court-phone"><i class="fas fa-phone"></i> {{phone}}</p>
            {{/if}}
            {{#if info}}
            <p class="court-details">{{info}}</p>
            {{/if}}
        </div>
        <a href="/courts/{{_id}}" class="view-details-btn">View Details</a>
    </div>
    {{/each}}
</div>]]>
